h6 {
    font-size: 15px;
    color:black;
  }
  .name{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: medium;
      color: black;
  }
  .name:hover{
      text-shadow: 2px 2px 5px yellow;
      border-style: dotted;
      filter: blur(1px);
      -webkit-filter: blur(1px);

  }
.stageDirectionparagraph {
    background-color: rgb(202, 207, 186);
    font-size: 15px;
    color: rgba(20, 20, 19, 0.959);

  }

.stageDirectionparagraph:hover {
    background-color: yellow;
    color:rgb(248, 7, 7);
  }
.speechparagraph{
    font-size: 15px;
    color: rgb(46, 1, 1);  
  }

.DUCHESSOFBERWICK{
    color:rgb(216, 24, 24);
}
.LADYAGATHA{
    color:rgb(243, 131, 3);
}

.STUTFIELD{
    color:rgba(245, 222, 14, 0.986);
}

.DUMBY{
    color:rgb(8, 255, 8);
}

.PARKER{
    color:rgb(6, 6, 252);
}

.HOPPER{
    color:rgba(110, 1, 252, 0.986);
}
.Mrs.Cowper-Cowper{
    color:blueviolet
}


  
td {
    border: 1px solid rgba(76, 4, 143, 0.767);
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  th {
    border: 1px solid rgba(138, 2, 47, 0.527);
    text-align: left;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  table {
    border-collapse: collapse;
    width: 70%;
  }
  th,
  td {
    padding: 10px;
  }
  .combine {
    display: flex;
    flex-direction: row;
    align-items: center;
  }  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
    width: fit-content;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    width: fit-content;
  }