h6 {
    font-size: 15px;
    color:black;
  }
.stageDirectionparagraph {
    background-color: rgb(72, 183, 235);
    font-size: 15px;
    color: rgba(20, 20, 19, 0.959);

  }

.stageDirectionparagraph:hover {
    background-color: yellow;
    color:rgb(139, 1, 1);
  }
.speechparagraph{
    font-size: 15px;
    color: rgb(46, 1, 1);  
  }

.DUCHESSOFBERWICK{
    color:rgb(216, 24, 24);
}
.LADYAGATHA{
    color:rgb(243, 131, 3);
}

.STUTFIELD{
    color:rgba(245, 222, 14, 0.986);
}

.DUMBY{
    color:rgb(8, 255, 8);
}

.PARKER{
    color:rgb(6, 6, 252);
}

.HOPPER{
    color:rgba(110, 1, 252, 0.986);
}
.Mrs.Cowper-Cowper{
    color:blueviolet
}
td {
    border: 1px solid blue;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  th {
    border: 1px solid palevioletred;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    padding: 15px;
  }
  .combine {
    display: flex;
    flex-direction: row;
    align-items: center;
  }  